*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  
}

body{
  background-color: #3D5E6B;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;


}

.done {
  text-decoration: line-through;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.card {
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
  margin-top: 13px;
  padding: 10px;
  background-color: #fff;
}

.add {
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
}

.form{
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}


ul button {
  border: none;
  padding: 0px 5px;
  background-color: #fff;
}

li {
  list-style-type: none;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.addbutton{
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  background-color: #87ceeb;
  color: #fff;
  border-radius: 50px;
}

.modal{
  background-color: #1a92c256;
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardmodal{
  padding: 20px;
  background-color: #fff;
}

.hide{
  display: none;
}